.c-hero {
    background: url('/images/copo-de-vinho-tinto-de-vista-frontal-na-placa-de-madeira-sobre-fundo-vermelho.jpg') no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    position: relative;

}