@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-primary: 'Roboto', sans-serif !important;
$font-secondary: 'Roboto Condensed', sans-serif !important;

$primary-color: #FB9B9A;
$secondary-color: #777777;
$default-color: #505050;
$whatsapp: #25d366;