@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Noto+Sans:wght@400;600&display=swap');


$font-primary: 'Inter', sans-serif !important;
$font-secondary: 'Inter', sans-serif !important;

$primary-color: #5AB6FF;
$secondary-color: #777777;
$default-color: white;
$text-dark: #2a577a;
$whatsapp: #25d366;